$bg-color: #0c0c0c;
$header-color: #040911;
$footer-color: #04110d;

body {
    padding:0;
    margin:0;
    background-color: $bg-color;
    background-attachment: fixed;
    font-family: sans-serif;
    color:white;
}

header {
    display: flex;
    justify-content: space-around;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100vw;
    background-color: rgba($header-color, 0.9);
    border-bottom: 3px solid rgb(0, 102, 255);
    $base-border: rgba(0, 102, 255, 0.25);
    border-image-source: linear-gradient(90deg, #{$base-border} 0%, rgba(0, 102, 255, 0.75) 50%, #{$base-border} 100%);
    border-image-slice: 1;
    .nav {
        display: flex;
        align-items: center;
        li {
            display: block;
            padding: 0 0.5em;
        }
    }
    .nav-link {
        transition:color 0.35s ease-out;
        color: white;
        text-decoration: none;
        vertical-align: middle;
    }
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1em;
    font-size: 10pt;
    text-align: center;
    background-color: rgba($footer-color, 0.9);
    $base-border: rgba(0, 255, 128, 0.25);
    border-top: 2px solid rgb(0, 255, 170);
    border-image-source: linear-gradient(90deg, #{$base-border} 0%, rgba(0, 255, 170, 0.75) 50%, #{$base-border} 100%);
    border-image-slice: 1;
}

main {
    width: 100%;
    text-align: center;
    margin-top: 72px;
}

@supports (backdrop-filter: blur(1px)) {
    header {
        background-color: rgba($header-color, 0.75);
        backdrop-filter: blur(5px);
    }
}